.search{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #E4E4E4;
}
.search .left{
    padding: 0.3rem;
    border: 2px solid #ff0000;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    color: #ff0000;
    font-weight: bold;
}
.search .ant-input-affix-wrapper{  /*搜索框*/
    flex: 1;
    margin: 0 10px;
}
.search .right{
    font-weight: bold;
    font-size: 0.7rem;
    margin-right: 10px;
}